version: "3.9"

services:
  frontend:
    container_name: frontend-learncheck-dev
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped